

<%= form_with model: @kitten do |form| %>
  <div class="d-flex flex-column">
      <%= form.label :name %>
      <%= form.text_field :name, class:"form-control" %>
      <%= form.label :age, "Age (in years)" %>
      <%= form.number_field :age, in: 1..20, class:"form-control" %>
      <%= form.label :cuteness, "Cuteness level (1-10)" %>
      <%= form.select :cuteness, (1..10).to_a, class:"form-control" %>
      <%= form.label :softness, "Softness level (1-10)" %>
      <%= form.select :softness, (1..10).to_a, class:"form-control"%>
      <%= form.submit class:"btn btn-primary" %>
  </div>
<% end %>
