<!DOCTYPE html>
<html>
  <head>
    <title>OdinKittens</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% if notice %>
        <div class="alert alert-success" role="alert">
            <%= notice %>
        </div>
    <% end %>

    <% if alert && alert.length() > 0 %>
        <div class="alert alert-danger" role="alert">
            <ul>
                <% alert.each do |error|  %>
                    <li><%= error %></li>
                <% end %>
            </ul> 
        </div>
    <% end %>

    <div class="container">
        <%= yield %>
    </div>
  </body>
</html>
